<!DOCTYPE html>
<html lang = "en">
<!--remember to put language-->
<head>
  <meta charset="utf-8">
    <title>Song Show</title>
  <!--key area for websearch-->
</head>
<body>

    <h1><%=song.name%></h1>
    <h2>Genre: <%=song.genre.name%></h2>
    <h2>Artist: <%=song.artist.name%></h2>
</body>
</html>
