<!-- The main page of playlister -->
<!DOCTYPE html>
<html lang = "en">
<!--remember to put language-->
<head>
  <meta charset="utf-8">
    <title>Playlister Menu</title>
  <!--key area for websearch-->
</head>
<body>
  <!--display indexes by referencing all the relevant index files-->
  <h2><a href="artists/index.html.rb">Artists</a></h2>
  <h2><a href="songs/index.html.rb">Songs</a></h2>
  <h2><a href="genres/index.html.rb">Genres</a></h2>

</body>
</html>
